doctype
html
  head
    // Meta
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="アプリ/ゲーム開発サークル「竹輪部」オフィシャルサイト。")
    meta(name="author" content="竹輪部")
    meta(property="og:url" content="https://tkwb.otyakai.xyz")
    meta(property="og:site_name" content="竹輪部 オフィシャルサイト")
    <title>竹輪部</title>
    // CSS
    link(rel="stylesheet" href="/main.css")
  body
    != yield